<!DOCTYPE html>
<html>
  <head>
    <title>Evil Tests - <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <p>Evil Tests is a game made by Rao Zvorovski and &Uumllari Taavel for Ludum Dare 24.</p>
  </body>
</html>